/*

!.gitignore
!nvim/
!skhd/
!tmux/
!yabai/
!zsh/
!README.md
!user-overrides.js
!userChrome.css
!userContent.css
!zshenv

/zsh/.zsh_sessions
/zsh/.zsh_history
/zsh/.keyrc
/zsh/.zcompdump*
/nvim/spell/
