/*

!.gitignore
!dunst/
!i3status-rust/
!nvim/
!tmux/
!zsh/
!sway/
!swaylock/
!sworkstyle/
!systemd/user/rclone@.service
!swhkd/
!waybar/
!wofi/
!labwc/
!waybar/

!nnn/config
!zshenv
!clight.conf
!userChrome.css
!userContent.css
!user-overrides.js
!README.md

/zsh/.zsh_history
/zsh/.keyrc
/zsh/.zcompdump*
/nvim/spell/
