0 12 * * * $HOME/.sh/util_push $HOME/.sh
0 12 * * * cp /var/spool/cron/phanthh $HOME/.config/crontab && cp $HOME/.mozilla/firefox/t2xewuf0.default-release/chrome/userChrome.css $HOME/.config && cp $HOME/.mozilla/firefox/t2xewuf0.default-release/chrome/userContent.css $HOME/.config && $HOME/.sh/util_push $HOME/.config
0 12 * * * $HOME/.sh/util_push $HOME/Academia/PKM

# wm_pswall
# */10 * * * * $HOME/.sh/wm_pswall >/dev/null 2>&1
# 0 */3 * * * $HOME/.sh/wm_pswall_fetch >/dev/null 2>&1





