[Unit]
Description=Rclone service
Wants=network-online.target
After=network-online.target

[Service]
Type=notify
KillMode=none
RestartSec=5
ExecStart=/usr/bin/rclone mount %i %h/Drives/%i \
--dir-cache-time 1000h \
--poll-interval 5s \
--umask 007 \
--cache-dir=%h/.cache/rclone \
--vfs-cache-mode full \
--vfs-cache-max-size 500G \
--vfs-cache-max-age 24h \
--no-checksum \
--no-modtime \
--no-seek \
--transfers 10
ExecStop=/bin/fusermount -uz %h/Drives/%i
Restart=on-failure

[Install]
WantedBy=default.target
