window {
  margin: 5px;
  border: 2px solid #424242;
  background-color: #101010;
  border-radius: 10px;
}

#input {
  margin: 10px;
  border: 2px solid #424242;
  background-color: #101010;
}

#inner-box {
  margin: 5px;
}

#outer-box {
  margin: 5px;
}

#scroll {
  margin: 5px;
}

#text {
  margin: 5px;
}

#entry:selected {
  font-weight: bold;
  background-color: #424242;
  border: 2px solid white;
  border-radius: 5px
}
